<h1>Cities</h1>

<p>Here's a list of cities: feel free to play with it.</p>

<p *ngIf="!cities"><em>Loading...</em></p>

<!--<table class="table table-striped" aria-labelledby="tablelabel" [hidden]="!cities">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Lat</th>
        <th>Lon</th>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{city.id}}</td>
            <td>{{city.name}}</td>
            <td>{{city.lat}}</td>
            <td>{{city.lon}}</td>
        </tr>
    </tbody>
</table>-->

<!--se cambia a material-->
<table mat-table [dataSource]="cities" class="mat-elevation-z8" [hidden]="!cities">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <th mat-cell *matCellDef="let city">{{city.id}}</th>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <th mat-cell *matCellDef="let city">{{city.name}}</th>
    </ng-container>
    <!-- Lat Column -->
    <ng-container matColumnDef="lat">
        <th mat-header-cell *matHeaderCellDef>Lat</th>
        <th mat-cell *matCellDef="let city">{{city.lat}}</th>
    </ng-container>
    <!-- Lon Column -->
    <ng-container matColumnDef="lon">
        <th mat-header-cell *matHeaderCellDef>Lon</th>
        <th mat-cell *matCellDef="let city">{{city.lon}}</th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!cities"
               (page)="pageEvent = getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons>
</mat-paginator>
